<div class = "full-page-hero-image" >
  <br><br>
  <h2 class = "white-text centered">Enter Trip Details</h2>
  <div class="container-fluid transparent">
    <div class="offset-3 col-6">
      <%= render partial: "partials/form_error", locals:{object:@itinerary} %>
      <%= form_for(@itinerary) do |f|%>
        <%= f.label :name,class: "form-text" %>
        <%= f.text_area :name,class: "form-control" %>
        <%= f.label :region,class: "form-text" %>
        <%= f.collection_select(:region, Destination.regions, :to_s, :to_s,class: "form-control")%>
        <%= f.label :budget,class: "form-text" %>
        <%= f.collection_select(:budget_category, Itinerary.budget_categories, :to_s, :to_s, class: "form-control") %>
        <%= f.label :duration,class: "form-text" %>
        <%= f.text_area :duration, class: "form-control" %>
        <%= f.hidden_field :user_id, :value => current_user.id %> <br>
        <%= f.submit :Create,  class: "btn btn-info" %>
      <% end %>
  </div>
</div>
</div>
