<%= render "itinerary_info" %>
<div class = "container-fluid">
<!--Like Button  -->
  <div class="text-center centered">
    <%= render partial: "partials/like_button", locals: {object:@itinerary} %>
    <%= render partial: "partials/wishlist_buttons", locals: {object:@itinerary} %>

  </div>
  <!-- Displays Edit Button if Itinerary is your own -->
  <% if @itinerary.user_id == current_user.id%>
  <div class="text-center">
      <div class="btn-group">

      <%= form_tag("/itineraries/#{@itinerary.id}/edit", method: :get) do %>
        <%=submit_tag "Edit Itinerary", class: "btn btn-warning" %>
      <%end%>
      <%= form_tag("/itineraries/#{@itinerary.id}/delete", method: :get) do %>
        <%=submit_tag "Delete", class: "btn btn-danger" %>
      <%end%>
    </div>

  </div>
    <br>
  <%end%>
<br>

  <h4 class = "white-text">Stops:</h4>
  <div class="col-4 offset-4">
    <% if @itinerary.user_id == current_user.id%>
      <%= link_to "Add a Stop", new_itinerary_destination_path(@itinerary), class: "btn btn-info btn-lg btn-block"%><br><br>
    <%end%>
  </div>
  <%= render partial: "itineraries/destination_cards", locals: {itinerary: @itinerary} %>


</div>
