<div class = "full-page-hero-image">
  <div class="offset-3 col-6">
    <br><br><br>

    <% if flash[:notice] %>
      <div class="error"><%= flash[:notice] %></div>
    <% end %>

    <%= form_tag("/login") do %>
    <%= label_tag :user_name,"Username", class:"form-text" %>
    <%= text_area_tag :user_name,"", class: "form-control"%>
    <%= label_tag :password,"Password",class:"form-text"  %>
    <%= password_field_tag :password,"", class: "form-control" %> <br>
    <%= submit_tag "Sign In", class: "btn btn-info" %>
    <%end%>
    <br>
    <h5 class="white-text">No Account?</h5> 
    <%=form_tag("/users/new", method: "GET") do %>
    <%=submit_tag "Create an Account", class: "btn btn-primary"%>
    <%end%>


  </div>

</div>
