<div class = "full-page-hero-image">
  <div class="offset-3 col-6">
  <% if @user.errors %>
    <%= render partial: "partials/form_error", locals:{object:@user} %>
  <%end%>

      <%= form_for(@user) do |f| %>
      <%= f.label :user_name, class: "form-text" %>
      <%= f.text_area :user_name,class: "form-control"%>
      <%= f.label :password, class: "form-text" %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :first_name, class: "form-text" %>
      <%= f.text_area :first_name, class: "form-control"%>
      <%= f.label :last_name, class: "form-text"%>
      <%= f.text_area :last_name, class: "form-control"%> <br>
      <%= f.submit :Create,  class: "btn btn-info" %>
      <%end%>
  </div>

</div>
