
<%= render "itineraries/itinerary_info"%>
<div class="container-fluid">
  <div class="text-center">
    <%= form_tag("/itineraries/#{@itinerary.id}/edit", method: :get) do %>
      <%=submit_tag "Edit Itinerary Details", class: "btn btn-info" %>
    <%end%>
  </div>
  <br>
  <h4 class = "text-center white-text">Add a Stop</h4>
  <% if @stop.errors %>
    <% @stop.errors.full_messages.each do |message| %>
      <p class = "error"><%=message%></p>
    <%end%>
  <%end%>
  <div class="offset-3 col-6">
    <%= form_for(@stop) do |f|%>
      <%= f.fields_for(@destination) do |t| %>
        <%= t.label :Stop_Location, class: "form-text" %>
        <%= t.text_area :name, class: "form-control" %>
        <%= t.label "Choose Existing Destination", class: "form-text" %>
        <%= t.collection_select(:region, Destination.destinations_which_match_itinerary_region(@itinerary), :id, :name,class: "form-control")%>
        <%end%>
      <%= f.label :description, class: "form-text" %>
      <%= f.text_area :description, class: "form-control" %>
      <%= f.hidden_field :itinerary_id, :value => @itinerary.id %> <br>
      <%= f.submit :Create, class: "btn btn-info" %>
    <%end%>
  </div>
    <h4 class = "text-center white-text">Current Stops</h4>
    <% if !@itinerary.destinations.empty?%>
      <%= render partial: "itineraries/destination_cards", locals: {itinerary: @itinerary} %>
    <% else %>
      <p class = "white-text">Currently Have No stops</p>
    <%end%>

</div>
